.row
  .col-md-3.text-center
    = link_to image_tag('logos/lms_logo.jpg', title: 'На главную',  size: '144x82'), root_path
  .col-md-6
    %h1.text-center= "#{@album.title}"
%hr
.container
  .row
    .col-md-offset-2.col-md-10
      = raw @album.content
  .row
    .col-md-offset-2.col-md-10.text-center
      - @album.images.each do |image|
        = link_to image_tag(image.view.url, height: '200'), image.view.url, data: {lightbox: "example-set", title: @album.title}

:javascript
  // see: http://lokeshdhakar.com/projects/lightbox2/
  lightbox.option({
    'wrapAround':        true,
    'albumLabel':        "Image %1 of %2",
  })

