.row
  .col-md-3.text-center
    = link_to image_tag('logos/lms_logo.jpg', title: 'На главную',  size: '144x82'), root_path
  .col-md-6
    %h1.text-center= 'Мероприятия'
%hr
.container-fluid
  - @events.each do |event|
    .row
      .col-md-2.text-center
        - if event.cover.present?
          = image_tag event.cover.preview
        - else
          = event.title
      .col-md-10
        .row
          %h3.col-md-10.text-center
            = "#{event.kind}: #{event.title}"
          .col-md-10
            = raw event.content
    %br
    

