.row
  .col-md-3.text-center
    = link_to image_tag('logos/lms_logo.jpg', title: "На главную",  size: '144x82'), root_path
  .col-md-6
    %h1.text-center= 'Образовательный туризм'
%hr

.container-fluid
  - @tours.each do |tour|
    .row
      .col-md-2.text-center
        - if tour.cover.present?
          = image_tag tour.cover.preview
        - else
          = tour.title
      .col-md-10
        = raw tour.content
    %br
    
