<!DOCTYPE html>
<html>
  <head>
<title>Lightman School</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <link rel="stylesheet"     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'lms_favicon.ico', :rel => 'apple-touch-icon' %>
    <%= render 'shared/shim' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%#= render 'shared/top_navigation' %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %> <!-- lightbox requirement -->
  </body>

  <%= render 'shared/footer' %>
</html>
